.wrapper {
  margin-top: var(--height-header);
  width: 100%;
}

.inner {
  width: var(--width-content);
  margin: 0 auto !important;
  padding: 40px 0;

  header {
    position: fixed;
    top: var(--height-header);
    width: var(--width-content);
    padding-top: 20px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    z-index: 2;
    background-color: #fff;
    div {
      flex: 1;
      text-align: center;
      padding: 10px 0;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      border: 2px solid #ddd;
    }

    div.active {
      border-color: var(--primary-color);
    }
  }
}

.list-container {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  //grid-template-rows: repeat(auto-fit, minmax(116px, 1fr));
  column-gap: 40px;
  row-gap: 20px;
}

.player {
  overflow: hidden;
  height: fit-content;
}

.introduction {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 105px;
}

.introduction .wrap-avatar {
  width: 58px;
  height: 58px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-left: 20px;
  margin-right: 20px;

  img {
    position: absolute;
    bottom: -60%;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
}

.introduction .number {
  width: 80px;
  font-size: 70px;
  font-weight: 700;
  color: #010101;
}

.introduction .name {
  margin-left: 80px;

  p {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3; /* 135% */
  }

  span {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
  }
}

.details-info {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, scale 0.5s;
  transform-origin: top left;
  scale: 0;
}

.details-info.active {
  opacity: 1;
  height: 400px;
  visibility: visible;
  scale: 1;
}

.details-info figure {
  width: 50%;
  position: relative;
}

.details-info figure img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  top: -16%;
  right: 0;
  display: block;
}

.details-info .content p {
  padding: 12px 40px;
  color: #717171;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.details-info .content p:nth-child(1) {
  margin-top: 40px;
}
